@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, aspernatur adipisci? Reiciendis facilis dolorem quasi ratione quae eveniet, accusamus ex mollitia dicta, quas nemo, magnam earum nobis assumenda veniam consequatur!
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In exercitationem consequuntur eos earum adipisci reprehenderit! Expedita officia aspernatur incidunt, ad omnis repudiandae impedit blanditiis maxime voluptates sequi natus obcaecati nobis?
        </p>
    </div>
</div>